.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease; /* Optional: adds animation */
}

.card:hover {
  transform: scale(1.05); /* Optional: scale up on hover */
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardHeader {
  padding: 10px;
  text-align: center;
}
.cardLink {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color from parent */
}

