.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 140px;
  width: auto;
  margin-bottom: 10px;
  transition: transform 0.4s ease, fill 0.4s ease;
}

.featureSvg, .featureCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease, fill 0.3s ease;
}

.featureCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  padding: 24px; /* Increased padding for more breathing room */
  text-align: center; /* Ensure content stays centered */
}


.featureCard:hover {
  transform: translateY(-1px); /* Slight hover effect */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); /* Softer shadow */
}


.featureCard:hover .featureSvg {
  transform: scale(1.03); /* Even smaller scale */
  fill: #FFCC80; /* Softer, lighter color */
}

